.btn {
  padding: 7px 20px;
  border-radius: 4px;
  outline: none;
  border: 0;
  background-color: #119023;
  color: white;
  transition: all ease 0.3s;

  &:hover {
    background-color: #0d721c;
  }

  &-danger {
    background-color: #901111;

    &:hover {
      background-color: #720d0d;
    }
  }
}